@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.4s;
}


/*navbar*/

/*navbar*/
header {
    background: url("../img/CSS.png") center;
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.color {
    width: 100%;
    height: 50vh;
    background: linear-gradient(#F9F3E5,#f9f3e500,#F9F3E5);
}

.navbar-contact {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
 
    position: sticky;
    top: 0;
}
.nav-conatiner {
    background: linear-gradient(#f4f5c1,#fcf0df04,#ffeab7);
    border: 2px solid #00000063;
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}
navbar ul li{
}
.content-item {
    list-style: none;
    margin: 0 10px;
}

.content-link {
    text-decoration: none;
    color: black;
}

.content-link:hover {
    color: #706c49;
}
.menu {
    font-size: x-large;
    display: none;
}
.x {
    font-size: xx-large;
    display: none;
}
@media screen and (max-width: 992px) {
    .navbar-contact {
        position: relative;
    }
    .nav-title {
        position: absolute;
        flex-direction: column;
        top: 0; left: 0;
        background-color: #c9c498;
        padding: 10px;
        width: 300px;
        height: 400px;
        transform: translateX(-800px);
        overflow-x: hidden;
        transition: 0.6s;
    }
    .nav-xxx {
        transform: translateX(0px) !important;
    }
    .content-item {
        margin: 10px 0;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
    .x {
        display: block;
        position: absolute;
        right: 10px; top: 0;
        cursor: pointer;
    }
}
/* Language Selector */
.language-selector {
    display: flex;
    gap: 10px;

}

.lang {
    width: 50px;
    height: 30px;
    border: 2px solid #111;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.lang:hover {
    color: #706c49;
}

.lang.active {
    color: #010f1fb7;
}
.color > h1{
    text-align: center;
    margin-top: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 70px;
}

.contact-home {
    width: 100%;
  
    display: flex;
    align-items: center;
    text-align: center;
}

/* Carousel */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f5c1;

}

.carousel {
    width: 80%;
    max-width: 800px;
}

.carousel-main {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel-item {
    min-width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 300px;
}

.carousel-item.active {
    display: flex;
}

.play-btn {
    background-color: #706c49;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline:auto;
}

.play-btn::before {
    content: "▶";
    color: #fff;
    font-size: 24px;
}

.carousel-thumbs {
    display: flex;
    justify-content: space-between;
}

.thumb-item {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 80px;
    cursor: pointer;
}

.thumb-item.active {
    border: 2px solid #706c49;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#prev-btn, #next-btn {
    background-color: #706c49;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

/* Footer */
/* Footer css start */ 
#footer { 
    padding: 20px; 
    border: 1px solid #000; 
    border-top-right-radius: 10px; 
    margin-top: 0px; 
    border-top-left-radius: 10px; 
    background-color: #f4f5c1;
} 
.footer-all { 
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
} 
.f-language { 
    display: flex; 
    border: 1px solid #000; 
    width: 87px; 
    border-radius: 5px; 
} 
.f-language div { 
    padding: 0px 5px; 
    cursor: pointer; 
} 
.f-language div:hover { 
    background-color: #323012; 
    color: #fff; 
    border-radius: 5px; 
} 
.f-location a { 
    text-decoration: none; 
    color: #000; 
    margin: 10px 0 !important; 
} 
.f-location { 
    margin: 10px 0; 
} 
.f-about a { 
    text-decoration: none; 
    color: #000; 
} 
.f-contact a { 
    text-decoration: none; 
    color: #000; 
} 
.f-btns { 
    width: 200px; 
} 
.f-btn { 
    width: 100%; 
    background-color: #323012; 
    margin: 5px 0; 
    padding: 5px; 
    border: none; 
} 
.f-btn a { 
    text-decoration: none; 
    color: #fff; 
} 
.f-btn i { 
    margin-right: 5px; 
} 
.f-all2 { 
    border-top: 2px solid #000; 
} 
.f-2024 { 
    text-align: center; 
} 
.f-d { 
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
} 
.f-d div { 
    margin: 0 10px; 
} 
.f-language2 { 
    display: flex; 
    border: 1px solid #000; 
    width: 87px; 
    border-radius: 5px; 
    margin-top: 10px; 
} 
.f-language2 div { 
    padding: 0px 5px; 
    cursor: pointer; 
} 
.f-language2 div:hover { 
    background-color: #323012; 
    color: #fff; 
    border-radius: 5px; 
} 
.f-all3 { 
    display: none; 
    justify-content: space-between; 
} 
.f-all3 a { 
    text-decoration: none; 
    color: #000; 
} 
.f-all4 { 
    border-top: 2px solid #000; 
    margin-top: 20px; 
    display: none; 
} 
.f-btns2 { 
    display: none; 
} 
.f-location2 { 
    display: none; 
} 
@media screen and (max-width: 850px) { 
    .footer-all { 
        display: none; 
    } 
    .f-all2 { 
        display: none; 
    } 
    .f-all3 { 
        display: flex; 
    } 
    .f-location2 { 
        display: block; 
    } 
    .f-btns2 { 
        display: block; 
    } 
    .f-all4 { 
        display: block; 
    } 
} 
/* Footer css end */

/* Responsive Design */
@media (max-width: 1200px) {

    .contact-home {
        padding:  10px;
    }
}

@media (max-width: 1000px) {
    
    .contact-home {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {

    .color > h1{
        text-align: center;
        margin-top: 100px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #000;
        font-size: 30px;
    }
    .nav-title {
        flex-direction: column;
        width: 100%;
    }
    .contact-home {
        padding:  10px;
    }
    .play-btn {
        background-color: #706c49;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
    .body{
        width:  px;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    footer img{
        text-align: center;
        display:none;
    }

    .footer-info, .footer-links {
        flex-basis: 100%;
        margin-right: 0;
        text-align: center;
    }

    .footer-links ul {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .contact-home{
        display: none;
    }
    .contact-home {
        padding: 0 10px;
    }
    .color h1{
        font-size: 20px;
    }

    .thumb-item {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        height: 80px;
        cursor: pointer;
    }
    
    .carousel-item active{
        width: px;
    }
    .carousel-thumbs {
        flex-direction: column;
    }

    .thumb-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .carousel-controls {
        gap: 5px;
    }

    footer {
        padding: 20px 10px;
    }
    footer .language-selector{
        display: flex;
        align-items: center;
    }
    footer img{
        display: none;
    }
    .footer-content {
        padding: 0 10px;
    }

    .footer-info p, .footer-links a {
        font-size: 14px;
    }

    .footer-card h3 {
        font-size: 16px;
    }

    .footer-card i {
        font-size: large;
    }

    .copyright {
        margin-top: 20px;
    }
}
@media screen and (max-width: 450px){
    .contact-logo img {
        width: 60px;
    }
    .color .contact-home{
        width:  100px;
    }
}

@media (max-width: 200px) {
    .color h1{
        font-size: 13px;
    }
  
    .thumb-item {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        height: 80px;
        cursor: pointer;
    }

    .content-link {
        padding: 5px;
    }

    .language-selector {
        flex-direction: column;
        gap: 5px;
    }
    .body{
        display: block;
    }
    .carousel-item .active{
        width: 100px;
    }
    .play-btnthumb-item .activ {
        background-color: #706c49;
        border: none;
        border-radius: 50%;
        width: 5px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
    .contact-home {
        flex-direction: column;
        padding: 0 5px;
        text-align: center;
    }
    
    .carousel-item active{
        width:100 px;
    } 

    .carousel {
        width: 100%;
        padding: 0 5px;
    }

    .thumb-item {
        margin-bottom: 5px;
    }

    .carousel-controls {
        gap: 5px;
    }

    footer {
        padding: 10px 5px;
    }
    footer img{
        display: none;
    }
    footer .language-selector{
        display: flex;
        align-items: center;
    }
  
    .footer-content {
        padding: 0 5px;
    }

    .footer-info, .footer-links {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-links ul {
        padding: 0;
    }

    .footer-info p, .footer-links a {
        font-size: 12px;
    }

    .footer-card {
        flex-direction: column;
        padding: 4px;
        font-size: 10px;
    }

    .footer-card h3 {
        font-size: 14px;
    }

    .footer-card i {
        font-size: medium;
    }

    .copyright {
        font-size: 12px;
        margin-top: 10px;
    }
}
