*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-bg: #69663A;
    --text: #F9F3E5;
    --border: #232323;
    --btn-text: #58562F;
    --dark-text: #232323;
}
.header{
    width: 100%;
    height: 100vh;
    background: var(--header-bg);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: var(--text);
}
.languages{
    display: flex;
    gap: 10px;
}
.language{
    display: flex;
    gap: 0;
    border: 1px solid #F9F3E5;
    border-radius: 5px;
    
}
.language a{
    text-decoration: none;
    padding: 4px 11px;
    color: var(--text);
    border: none;
}
.language a:hover{
    border-radius: 2px;
    background: #F9F3E5;
    color: #232323;
    padding: 4px 11px;
}
.menu{
    display: none;
}
.menu img{
    cursor: pointer;
}
.icons{
    display: none;
    font-size: 2.5em;
    position: absolute;
    right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: var(--text);
}
@media screen and (max-width: 992px) {
    .nav{
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background: #f7f1f13b;
        width: 50%;
        height: 70vh;
        backdrop-filter: blur(20px);
        text-align: center;
        transform: translateX(-500px);
        transition: 0.50s;
    }
    .nav-list{
        transform: translateX(0px) !important;
    }
    .nav li{
        position: relative;
        top: 150px;
    }
    .menu{
        display: block;
    }
    .icons{
        display: block;
    }
    .logo-about a img{
        height: 80px;
    }
}

@media screen and (max-width: 568px) {
    .nav{
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background: #c70b0b;
        width: 70%;
        height: 70vh;
        backdrop-filter: blur(20px);
        gap: 10px;
        display: flex;
    }
    .nav li{
        position: relative;
        top: 150px;
        padding: 10px;
    }
    .logo-about a img{
        height: 60px;
    }
}
@media screen and (max-width: 320px) {
    .navbar{
        display: flex;
    }
}